button {
    background-color: #E5E7EB;
    color: #4B5563;
    border: 1px solid #6B7280;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    cursor: pointer;
    font-weight: 700;
    padding: 9px 17px;
    border-radius: 6px;
    line-height: 24px;
    display: flex;
    align-items: center;
    white-space: nowrap; /* prevents text wrapping */
}

.button.primary{
    color:  #047857;
    border-color: #047857;
    background-color: #ECFDF5;
}

.button.danger{
    color: #F87171;
    border-color: #F87171;
    background-color: #FEF2F2;
}

.button.secondary{
    color: #FBBF24;
    border-color: #FBBF24;
    background-color: #FFFBEB;
}

.pills {
    border-radius: 9999px; /* fully rounded */
    padding: 8px 20px; /* adjusts with text length */

}

.button:focus {
  outline: none;
}
